In [1]:
# impoer libs
import numpy as np
import pandas as pd
import gensim
from gensim.scripts.glove2word2vec import glove2word2vec
import re

In [2]:
# Read training data
df_train = pd.read_csv("E:/nlp-getting-started/train.csv", dtype={'id': np.int16, 'target': np.int8})
df_test = pd.read_csv("E:/nlp-getting-started/test.csv", dtype={'id': np.int16})
df_test = df_test.sample(frac=1,random_state = 1)
df_train = df_train.sample(frac=1,random_state = 1)

In [3]:
print('Train Set Shape = {}'.format(df_train.shape))
print('Test Set Shape = {}'.format(df_test.shape))

Train Set Shape = (7613, 5)
Test Set Shape = (3263, 4)

In [4]:
# chenck duplicate data
DUPLICATED = df_train[df_train.duplicated(subset=['text'])]
print('Duplicate Set Shape = {}\n'.format(DUPLICATED.shape))

# An example of inconsistently labeled duplicate tweet
print(DUPLICATED[DUPLICATED['text'] == 'To fight bioterrorism sir.'])

Duplicate Set Shape = (110, 5)

      id       keyword location                        text  target
610  881  bioterrorism      NaN  To fight bioterrorism sir.       1
630  907  bioterrorism      NaN  To fight bioterrorism sir.       1
624  898  bioterrorism      NaN  To fight bioterrorism sir.       0

In [5]:
df_train = df_train.sort_values(['text', 'target'], ascending=True).drop_duplicates(subset=['text'], keep="last")
print('Training Set Shape = {}'.format(df_train.shape))

Training Set Shape = (7503, 5)

In [6]:
df_train.head()

,id,keyword,location,text,target
7345,10517,wildfire,NaN,! Residents Return To Destroyed Homes As Washi...,1
956,1383,body%20bag,NaN,# handbags Genuine Mulberry Antony Cross Body ...,0
5823,8314,rubble,London,#360WiseNews : China's Stock Market Crash: Are...,1
5833,8334,rubble,Made Here In Detroit,#360WiseNews : China's Stock Market Crash: Are...,1
5817,8301,rubble,"Accra,Ghana",#360WiseNews : China's Stock Market Crash: Are...,0

In [7]:
# glove embeddings
embeddings_index = {}
print(" start to embeddings")
with open('E:\glove.840B.300d/glove.840B.300d.txt','r',encoding = 'utf8') as f:
    for line in f:
        values = line.split()
        word = values[0]
        try:
            coefs = np.array(values[1:]).astype(np.float)
        except:
            continue
        embeddings_index[word] = coefs 
print(" end embeddings")        
print('Found %s word vectors.' % len(embeddings_index))

 start to embeddings
 end embeddings
Found 2195884 word vectors.

In [8]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7503 entries, 7345 to 1628
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7503 non-null   int16
 1   keyword   7444 non-null   object
 2   location  5022 non-null   object
 3   text      7503 non-null   object
 4   target    7503 non-null   int8
dtypes: int16(1), int8(1), object(3)
memory usage: 256.5+ KB
None

In [52]:
print(embeddings_index['ok'].shape)
embeddings_index['ok']

(300,)

array([-1.3199e-01,  1.5186e-01, -6.5313e-01, -4.2774e-01, -2.0953e-02,
        8.6955e-02,  2.5765e-02, -7.1317e-01, -5.0883e-04,  1.2164e+00,
       -3.1302e-01, -1.7979e-01,  3.6644e-03, -2.0481e-02, -3.5089e-01,
       -2.1615e-01, -1.4409e-01,  1.3247e+00,  9.7853e-02,  3.0863e-02,
       -3.2390e-01, -1.8114e-02,  1.4557e-01, -1.1589e-01,  6.8835e-02,
       -5.6704e-02, -1.7781e-01, -3.9055e-01,  2.1464e-01, -2.9864e-02,
       -1.7463e-01, -5.0940e-02,  2.7805e-01, -1.6439e-01, -1.2356e-01,
        1.4804e-01,  1.5432e-01,  2.7682e-01, -7.7963e-02,  5.5154e-02,
       -7.6629e-02,  1.4481e-02, -1.9302e-01, -4.4064e-02,  2.1849e-01,
        2.2939e-01, -1.7068e-01, -2.0470e-01,  5.9945e-02,  4.1847e-02,
       -9.5953e-02,  2.1100e-01,  1.1142e-02, -8.0806e-02, -2.9521e-01,
        1.8968e-02, -6.1346e-02, -3.8059e-01,  2.6877e-01,  1.4224e-01,
       -5.3062e-01, -3.0773e-01,  4.9165e-03, -1.9610e-01,  3.6298e-02,
       -3.9772e-01, -1.0705e-01, -2.0169e-02,  2.3591e-01,  5.8653e-02,
        1.1314e-01,  1.0477e-01,  3.2882e-01, -1.5869e-01,  2.8816e-01,
        2.4839e-01, -5.8867e-03,  4.7180e-02, -1.0980e-01,  6.6118e-01,
       -7.4030e-03,  5.3533e-02, -2.9332e-01,  1.3473e-01, -4.4643e-02,
       -1.0196e-01,  1.5398e+00, -6.9647e-01,  1.4691e-01, -2.2642e-02,
       -3.4579e-01, -3.5318e-01,  1.9528e-02, -3.4362e-01,  4.3062e-01,
        1.9087e-01,  3.0136e-02, -3.9039e-01, -2.2763e-02,  3.8575e-01,
       -4.2788e-01, -7.1786e-02,  3.1542e-01,  3.1591e-01,  2.7988e-01,
       -3.8786e-01,  2.4771e-01, -4.2466e-01, -4.7561e-01, -1.6939e-02,
       -7.1492e-02, -6.2627e-01, -2.8468e-02, -1.1288e-01, -1.1419e-01,
        3.7278e-01,  4.4193e-01, -5.4930e-01, -2.2487e-01, -7.6123e-02,
       -1.7328e-02,  3.1641e-01,  9.7523e-02,  1.4006e-01,  2.1178e-01,
        2.7616e-01,  9.3267e-02, -3.6384e-01,  2.9168e-01,  1.8561e-01,
       -2.9111e-01,  6.9414e-03, -3.9034e-01,  1.8924e-01,  5.7898e-01,
       -2.7729e-03,  5.6177e-02,  4.0140e-02, -1.1858e-01,  2.5689e-02,
       -2.6529e+00,  3.3577e-01,  1.9345e-01, -1.3739e-01, -1.0589e-01,
        1.1079e-01, -4.8463e-01,  1.8382e-01, -5.0967e-01, -2.8862e-01,
        1.2295e-02, -2.5279e-02, -4.6173e-02, -1.1267e-01,  3.0017e-01,
       -3.5060e-01,  1.6836e-01, -1.9441e-01,  1.0160e-01, -3.4407e-01,
       -1.4965e-02, -8.7892e-02,  1.4075e-01, -4.9977e-02, -2.2308e-01,
       -1.3897e-01, -4.3432e-01,  9.8638e-02, -2.8915e-02, -9.7963e-02,
       -7.8806e-02,  1.1027e-01, -3.6833e-01, -2.7936e-01,  8.7367e-02,
       -5.2227e-02, -2.3126e-01,  1.8993e-01, -4.2087e-01, -1.6679e-01,
        1.6226e-01, -5.2935e-01, -8.3394e-01, -1.5328e-01, -1.5588e-01,
        7.9448e-02,  7.2145e-02, -2.3047e-01, -9.8447e-02,  1.7999e-01,
        3.1082e-01, -9.6742e-02, -4.6123e-01, -1.6065e-01, -1.7612e-01,
        1.0134e-01, -2.4273e-01, -7.4470e-01,  3.7831e-01,  2.7210e-01,
        5.8521e-02,  1.5518e-01, -2.3987e-01, -5.5997e-01,  1.1241e-01,
        1.4475e-01, -1.5596e-01,  4.6816e-01,  2.7065e-01, -2.4220e-01,
       -6.1740e-02, -2.1559e-01,  3.9453e-01, -1.4638e-02,  2.0401e-01,
       -1.4415e-01,  2.7515e-01, -3.0772e-01, -4.3669e-01,  1.4350e-01,
       -2.5076e-02,  1.0620e-01, -2.3745e-03, -9.4343e-02,  3.3675e-01,
        2.3414e-01, -4.0714e-01,  1.4267e-01,  1.2517e-01, -5.5327e-01,
       -3.8532e-02,  2.3334e-01,  1.4483e-01,  2.7166e-01,  7.5854e-03,
       -7.0826e-02,  2.4067e-01, -3.2603e-01,  6.7259e-03,  2.6003e-01,
        4.0575e-02,  9.4024e-02,  1.2067e-01,  1.7772e-01, -7.5091e-02,
        4.0728e-02,  2.2514e-01, -1.3161e-01,  2.5971e-01,  2.6902e-01,
        2.3344e-01,  1.1640e-01, -3.6632e-01,  1.3097e-01, -6.8561e-02,
        6.6187e-02,  3.1088e-02,  2.3415e-01, -4.2810e-01, -2.0738e-01,
       -1.4508e-01, -7.2599e-02,  4.5405e-01, -3.7872e-02, -5.1986e-01,
       -3.9271e-01, -8.2641e-02,  4.4362e-01,  5.2227e-01,  2.4901e-01,
        1.3125e-02, -1.5842e-01,  3.5075e-02,  1.6492e-02, -5.1958e-01,
        4.9254e-01,  1.2897e-01, -3.4582e-01, -3.6175e-01,  4.3968e-01,
        1.1321e-01, -2.9931e-01, -2.3007e-01, -1.8953e-01, -3.0480e-02,
        1.6560e-01, -2.7555e-01, -2.0302e-01,  2.8978e-01,  3.9333e-01,
        2.1089e-01,  1.0966e-01, -4.3233e-01, -2.9912e-01,  8.6347e-01,
        2.2849e-01,  4.2863e-02, -3.3259e-01, -1.7585e-01,  1.2933e-01])

In [9]:
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3263 entries, 1787 to 1061
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int16
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int16(1), object(3)
memory usage: 108.3+ KB
None

In [10]:
# drop unnecessary colums 
df_train.drop(['keyword','location'],axis =1, inplace = True)
df_train.head()

         id                                               text  target
7345  10517  ! Residents Return To Destroyed Homes As Washi...       1
956    1383  # handbags Genuine Mulberry Antony Cross Body ...       0
5823   8314  #360WiseNews : China's Stock Market Crash: Are...       1
5833   8334  #360WiseNews : China's Stock Market Crash: Are...       1
5817   8301  #360WiseNews : China's Stock Market Crash: Are...       0

In [11]:
df_test.drop(['keyword','location'], axis = 1, inplace = True)

df_test.head()

        id                                               text
1787  6035  I added some dumb ideas to beat the #summer he...
666   2168  If a å£1 rise in wages is going to have such a...
93     317  How do I step outside for 5 seconds and get an...
2924  9682  Tornado warnings issued for southern Alberta h...
1735  5857  Get out of the hailstorm and come down to @The...

In [12]:
# clean the data
def clean_text(text):
    #2. remove unkonwn characrters
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r'', text)
   
    #1. remove http links
    url = re.compile(r'https?://\S+|www\.\S+')
    text = url.sub(r'',text)
    
    #3,4. remove #,@ and othet symbols
    text = text.replace('#',' ')
    text = text.replace('@',' ')
    symbols = re.compile(r'[^A-Za-z0-9 ]')
    text = symbols.sub(r'',text)
    
    #5. lowercase
    text = text.lower()
    
    return text

In [13]:
df_train['text'] = df_train['text'].apply(lambda x: clean_text(x))
df_test['text'] = df_test['text'].apply(lambda x: clean_text(x))

In [14]:
df_train.head()

         id                                               text  target
7345  10517   residents return to destroyed homes as washin...       1
956    1383    handbags genuine mulberry antony cross body ...       0
5823   8314   360wisenews  chinas stock market crash are th...       1
5833   8334   360wisenews  chinas stock market crash are th...       1
5817   8301   360wisenews  chinas stock market crash are th...       0

In [15]:
df_test.head()

        id                                               text
1787  6035  i added some dumb ideas to beat the  summer he...
666   2168  if a 1 rise in wages is going to have such a c...
93     317  how do i step outside for 5 seconds and get an...
2924  9682      tornado warnings issued for southern alberta
1735  5857  get out of the hailstorm and come down to  the...

In [18]:
print(df_train['id'])

7345    10517
956      1383
5823     8314
5833     8334
5817     8301
        ...
3815     5420
977      1414
964      1394
2785     4006
1628     2351
Name: id, Length: 7503, dtype: int16

In [19]:
train_id = df_train['id']

In [20]:
df_train.drop(['id'],axis=1, inplace = True)
df_train.head()

                                                   text  target
7345   residents return to destroyed homes as washin...       1
956     handbags genuine mulberry antony cross body ...       0
5823   360wisenews  chinas stock market crash are th...       1
5833   360wisenews  chinas stock market crash are th...       1
5817   360wisenews  chinas stock market crash are th...       0

In [21]:
test_id = df_test['id']
print(test_id)

1787    6035
666     2168
93       317
2924    9682
1735    5857
        ...
2763    9189
905     2981
1096    3612
235      764
1061    3491
Name: id, Length: 3263, dtype: int16

In [23]:
df_test.drop(['id'],axis = 1, inplace = True)

In [24]:
df_test.head()

                                                   text
1787  i added some dumb ideas to beat the  summer he...
666   if a 1 rise in wages is going to have such a c...
93    how do i step outside for 5 seconds and get an...
2924      tornado warnings issued for southern alberta
1735  get out of the hailstorm and come down to  the...

In [47]:
print(len(df_train))
print(len(df_test))

7503
3263

In [63]:
# LSTM 

word2idx = {}
new_embedding_index = {} # new one 

embed_keys = embeddings_index.keys()

train_X_list = []
index = 1

In [67]:
for x in df_train['text']:
        list1 = x.split(' ')
        new_list = []
        for i in list1:
            if((i in embed_keys)  and (i not in word2idx.keys())): # if this word in the embed_keys or word2idx 
                new_embedding_index[index] = embeddings_index[i]
                word2idx[i] = index
#                 print(word2idx[i])
                new_list.append(index)
                index=index+1   
                
            elif(i not in word2idx.keys()):  # if this word is not in  the embed_keys or word2idx 
                new_embedding_index[index] = np.array(np.random.randn(50)).astype(np.float) # give a random matrix
                word2idx[i] = index
                new_list.append(index)
                index=index+1   

            else:
#                 print(word2idx[i])
                new_list.append(word2idx[i])
#         print(new_list)
        train_X_list.append(new_list)

In [37]:
print(type(train_X_list))

<class 'list'>

In [81]:
test_X_list = []
index = len(word2idx)+1

embed_keys = embeddings_index.keys()
for x in df_test['text']:
#         print(x)
        list1 = x.split(' ')
#         print(list1)
        new_list = []
        for i in list1:
            if((i in embed_keys)  and (i not in word2idx.keys())):
                new_embedding_index[index] = embeddings_index[i]
                word2idx[i] = index
                new_list.append(index)
                index=index+1   
                
            elif(i not in word2idx.keys()):
                new_embedding_index[index] = np.array(np.random.randn(50)).astype(np.float)
                word2idx[i] = index
                new_list.append(index)
                index=index+1   

            else:
                new_list.append(word2idx[i])

        test_X_list.append(new_list)

In [82]:
print(len(test_X_list))
print(len(new_embedding_index))
print(len(train_X_list))

3263
22652
30015

In [83]:
print(max(map(len, train_X_list)) )
print(max(map(len, test_X_list)) )

55
34

In [94]:
# fixed padding
def pad_features(reviews_int, seq_length):
    features = np.zeros((len(reviews_int), seq_length), dtype = int)
    for i, review in enumerate(reviews_int):
        review_len = len(review)
        
        if review_len <= seq_length:
            zeroes = list(np.zeros(seq_length-review_len))
            new = zeroes+review 
        
        elif review_len > seq_length:
            new = review[0:seq_length]
        
        features[i,:] = np.array(new)
    
    return features

In [95]:
train_X_list = pad_features(train_X_list,55)

for i in range(3):
    extra_list =[np.array(np.zeros(55).astype(int))]
    train_X_list =  np.append(train_X_list,extra_list, axis=0)
    
print(len(train_X_list))

ValueError: operands could not be broadcast together with shapes (0,) (55,)